/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $btn-color-light;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

.default {
  @include button-builder($color-secondary);
}

.error {
  @include button-builder($color-error);
}

.info {
  @include button-builder($color-info);
}

.success {
  @include button-builder($color-success);
}

.warning {
  @include button-builder($color-warning);
}