/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
  @include img-block-center;
  margin-top: 10px;
  max-width: 100%;
  max-height: 100%;
}

.img-frame {
  @include img-block-center;
  margin-top: 10px;
  max-width: 100%;
  padding: 13px;
  border: 1px solid $img-border-color;
}

.img-logo {
  @include img-block-center;
}